@charset "UTF-8";
/* 	
@description	: 图书馆 
@author			: 周海鸥
*/

.header-title a:hover{
	color:#fff;
}

.header-title-ico{
	margin-top:0px;
}

.search-input{
	line-height: 20px;
}

.back-ico{
	margin-top:12px;
	margin-right: 5px;
}