<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><title>
	【做家教 - 北京做家教】 - 尚才家教
</title><link href="./public/home/css/css.css" rel="stylesheet" type="text/css">

    <script language="JavaScript" type="text/javascript">
				<!--
						
			function $(id)
            {
                return document.getElementById(id)
            }
            function trim(str)
            {
	            regExp1 = /^ */;
	            regExp2 = / *$/;
	            return str.replace(regExp1,'').replace(regExp2,'');
            }
				function CheckForm_1()
				{				   
				    if ($("yhm").value=="")
					{ 
						alert("请输入用户名"); 
						$("yhm").focus();
						return false; 
					} 
			        var len=trim($("yhm").value).length
			        if(len==0 || len<2 || len>15)
			        {
			             alert("用户名填写不正确,长度为2-15位，建议使用英文(a-z、A-Z)、数字(0-9)组合。汉字按一位计算！"); 
						$("yhm").focus();
						return false; 
			        }
					
                    len=trim(document.all("mm").value).length
				    if(len==0 || len<6 || len>20)
			        {
				        alert("\请重新输入密码,密码长度为6-10位英文或数字 !!");
				        $("mm").focus();
				        return false;
				    }
				    if( $("cfmm").value=="") 
				    {
				        alert("\请输入密码确认 !!");
				        $("cfmm").focus();
				        return false;
				    }
				    if( $("mm").value != $("cfmm").value ) 
				    {
				        alert("\两次密码输入不一致 !!");
				        $("cfmm").focus();
				        return false;
				    }
				    if($("sf_1").checked==false && $("sf_2").checked==false && $("sf_3").checked==false && $("sf_4").checked==false)
	                  {
	                     alert("请选择身份！");
				         $("sf_1").focus();
	                     return false;
	                  }	
				    if($("acceptxieyi").checked==false)
	                  {
	                     alert("请请同意我们的注册条款！");
				         $("acceptxieyi").focus();
	                     return false;
	                  }	
					
				}
				-->
    </script>

</head>
<body>


<script language="javascript" type="text/javascript">
		<!--
		    function CheckForm()
		    {
		        if (document.getElementById("username").value=="")
		        { 
			        alert("请输入用户名"); 
			        document.getElementById("username").focus();
			        return false; 
		        } 	
		        if (document.getElementById("password").value=="")
		        { 
			        alert("请输入密码"); 
			        document.getElementById("password").focus();
			        return false; 
		        }			       
        						
		    }
		    
		//-->
</script>

<script language="JavaScript" type="text/javascript"> 
<!-- 
function AddFavorite(sURL, sTitle) 
{ 
    try 
    { 
        window.external.addFavorite(sURL, sTitle); 
    } 
    catch (e) 
    { 
        try 
        { 
            window.sidebar.addPanel(sTitle, sURL, ""); 
        } 
        catch (e) 
        { 
            alert("加入收藏失败，请使用Ctrl+D进行添加"); 
        } 
    } 
} 
function SetHome(obj,vrl){ 
        try{ 
                obj.style.behavior='url(#default#homepage)';obj.setHomePage(vrl); 
        } 
        catch(e){ 
                if(window.netscape) { 
                        try { 
                                netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect"); 
                        } 
                        catch (e) { 
                                alert("此操作被浏览器拒绝！\n请在浏览器地址栏输入“about:config”并回车\n然后将 [signed.applets.codebase_principal_support]的值设置为'true',双击即可。"); 
                        } 
                        var prefs = Components.classes['@mozilla.org/preferences-service;1'].getService(Components.interfaces.nsIPrefBranch); 
                        prefs.setCharPref('browser.startup.homepage',vrl); 
                 } 
        } 
} 
//--> 
</script>
    <form name="form1" method="post" action="index.php?m=home&c=enter" id="form1">
        <div>
        </div>

        <div id="topbar" class="color_999">
            <div class="w950">
                <div class="right">
                    <a href="#" onclick="SetHome(this,window.location)" class="color_999">设为首页</a>&nbsp;
                    <a href="#" onclick="AddFavorite(window.location,document.title)" class="color_999">
                        加入收藏</a>&nbsp; <a href="#" class="color_999">帮助中心</a>
                </div>

                <div class="left" id="wdl">
                    <?php if(!isset($_COOKIE['user'])){ echo '
                &nbsp;&nbsp; <a href="index.php?m=home&c=index&a=user" class="color_orage text_decoration">注册用户</a>&nbsp;
                    用户名:<input name="username" style="width: 100px;" id="username" type="text">
                    &nbsp;&nbsp;密码:<input name="password" style="width: 100px;" id="password" type="password">
                    &nbsp;<input name="Button1" value="登录" onclick="return CheckForm();" id="Button1" type="submit">
                    <?php ';  } ?>
                    <?php if(isset($_COOKIE['user'])) { echo 'Hello:'.$_COOKIE['user'] ; } ?>
                </div>
                <a href="index.php?m=home&c=index&a=modifier" class="color_orage text_decoration">取回密码</a>
                <?php if(isset($_COOKIE['user'])){ echo '
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="index.php?m=home&c=index&a=out" class="color_orage text_decoration">退出账号</a>&nbsp;
                <?php ';  ?>
                <?php } ?>
            </div>
        </div>
        </div>
    </form>
<form name="form1" method="post" action="index.php?m=home&c=register" id="form1">
<div id="top">
  <div class="w950">

            <div style="float: right; width:100px; padding-top:25px;">
                <a href="#" ;="" target="_blank;" onclick="var tempSrc='http://sighttp.qq.com/wpa.js?rantime='+Math.random()+'&amp;sigkey=0067baf0789caa207d7cceb9518600646f7ad8feccc1221601cc5e11865c8a1a';var oldscript=document.getElementById('testJs');var newscript=document.createElement('script');newscript.setAttribute('type','text/javascript'); newscript.setAttribute('id', 'testJs');newscript.setAttribute('src',tempSrc);if(oldscript == null){document.body.appendChild(newscript);}else{oldscript.parentNode.replaceChild(newscript, oldscript);}return false;"><img src="./public/home/images/qq.jpg" alt="QQ咨询" border="0"></a>
            </div>
  <div id="logo">
    <img src="./public/home/images/logo.jpg" alt="尚才家教">
  </div>
  <div style="float: right; padding: 25px 0 0 0;">
    <img src="./public/home/images/top_bn.gif" alt="尚才家教">
  </div>
  </div>
</div>
<div id="menu" class="w950">
    <ul>
        <li><a href="index.php?m=home&c=indexLibrary"><span>首页</span></a></li>
        <li id="lan_1"><a href="index.php?m=home&c=teacher"><span>教员库</span></a></li>
        <li id="lan_2"><a href="index.php?m=home&c=UserLibrary"><span>学员库</span></a></li>
        <li id="lan_3"><a href="index.php?m=home&c=star"><span>星级教员</span></a></li>
        <li id="lan_4"><a href="index.php?m=home&c=major"><span>专业老师</span></a></li>
        <li id="lan_5"><a href="index.php?m=home&c=university"><span>大学生家教</span></a></li>
        <li id="lan_6"><a href="index.php?m=home&c=math"><span>奥数家教</span></a></li>
        <li id="lan_7"><a href="index.php?m=home&c=english"><span>英语家教</span></a></li>
        <li id="lan_8"><a href="index.php?m=home&c=music"><span>音乐家教</span></a></li>
        <li id="lan_9"><a href="index.php?m=home&c=index&a=winCase"><span>成功案例</span></a></li>
        <li id="lan_10"><a href="index.php?m=home&c=index&a=chargeStandard"><span>收费标准</span></a></li>
    </ul>
</div>

<script language="javascript" type="text/javascript"> 
//js获取url参数的function
function request(paras)
{ 
	var url = location.href; 
	//alert(url);
	var paraString = url.substring(url.indexOf("?")+1,url.length).split("&"); 
	var paraObj = {} 
	for (i=0; j=paraString[i]; i++)
	{ 
		paraObj[j.substring(0,j.indexOf("=")).toLowerCase()] = j.substring(j.indexOf("=")+1,j.length); 
	} 
	var returnValue = paraObj[paras.toLowerCase()]; 
	if(typeof(returnValue)=="undefined")
	{ 
		return ""; 
	}
	else
	{ 
		return returnValue; 
	} 
} 

</script>

<script language="javascript" type="text/javascript">
    var tabl_1 =request("type"); 
	//alert(tabl_1);
	 if(tabl_1 != "")
	 {
	    document.getElementById("lan_"+tabl_1).className = "active";
	}
</script>


    <div id="main" class="w950">
        <div class="box2">
            <div class="title">
                <h2>
                    教员注册
                </h2>
                
            </div>
            <div class="">
                <div class="loginb3">
                    <div class="xg p14">
                        <strong class="red">
                            <img src="./public/home/images/d04.gif" align="absbottom" hspace="2">
                            注册步骤：</strong> <span class="green"><strong>1.填写信息</strong></span> &gt; 2.填写家教相关信息
                        &gt; 3.注册成功
                    </div>
                    <fieldset>
                        <em>&nbsp;&nbsp;欢迎您注册成为尚才家教<strong class="red">北京地区</strong>教员.<br>
                            &nbsp;&nbsp;为了更好的找到合适您的工作和为您服务,请仔细填写以下内容 </em>
                        <div class="btbg1">
                            <img src="./public/home/images/zcimg1.gif">请选择密码用户名、身份</div>
                        <div>
                            <label for="confirm_password">
                                <strong class="red">*</strong>请输入新用户名</label>
                            <input name="user" id="yhm" class="zcinput" size="18" maxlength="15" onchange="usercheck('check')" onblur="usercheck('check')" type="text">
                            <span class="zsbg" id="check">必须由英文字母或字母、数字组合组成</span>
                        </div>
                        <div>
                            <label for="checkbox">
                                <strong class="red">*</strong>请输入您的密码</label>
                            <input name="passwd" id="mm" class="zcinput" size="18" maxlength="15" type="password">
                            <span class="zsbg">请不少于六位、不超过十位</span>
                        </div>
                        <div>
                            <label for="confirm_password">
                                <strong class="red">*</strong>请重复输入密码</label>
                            <input name="passwd2" id="cfmm" class="zcinput" size="18" maxlength="15" type="password">
                        </div>
                        <div>
                            <label for="confirm_password">
                                <img src="./public/home/images/zcimg4.gif" height="15" width="18">选择身份</label>
                            <input name="identify" id="sf_1" value="在校大学生" type="radio">
                            在校大学生(研究生) ,不含留学生
                        </div>
                        <div>
                            <label for="confirm_password">
                            </label>
                            <input name="identify" id="sf_2" value="在职老师" type="radio">
                            在职老师(在职/进修/离职/退休)
                        </div>
                        <div>
                            <label for="confirm_password">
                            </label>
                            <input name="identify" id="sf_4" value="外籍人士" type="radio">
                            外籍人士(含留学生、外教，海归人员)
                        </div>
                        <div>
                            <label for="confirm_password">
                            </label>
                            <input name="identify" id="sf_3" value="其他" type="radio">
                            其他(已经毕业离校的人员)
                        </div>
                        <div class="zctk">
                            <div align="left">
                                是否同意注册条款
                                <input name="accept" id="acceptxieyi" value="0" checked="checked" type="checkbox">
                                <strong class="red">是</strong>
                                <!--<a href="#" class="jt green">点击查看注册条款</a> -->
                            </div>
                        </div>
                        <input type="hidden" name="c" value="teacher"/>
                        <div class="ac" style="padding-top: 15px;">
                            <input name="" value="　提 交　" onclick="return CheckForm_1();" id="Button1" class="button" type="submit">
                            &nbsp;<input name="" class="button" value="　重 置　" type="reset">
                        </div>
                        <div class="btbg1">
                            <img src="./public/home/images/jz.gif">注 册 条 款<a name="" id="zc"></a></div>
                        <div class="ac">
                            <textarea name="" cols="90" rows="11">
                                北京尚才家教网是立足于互联网络，面向广大家教教员及学员提供家教服务的专业公司。目前我们面向广大北京市民服务，乐意为您提供优质的家教信息服务，如有疑问请电话咨询我们。
1、本站只接收各类教师、 正规大学大专以上大学生、研究生和有专业特长的工作者。
  【注】对于在校大学生，本站只接受国家承认学历的正规大学生、研究生注册
2、注册和发布简历不收费，但每接一份家教应立即交纳家教信息费，并预先垫付学员的家教信息费。（第一次与学员见面即可收回，皆以收据为凭）
3、保证所填信息真实有效，如因信息不实而引起的各种不良事宜，一律自行承担全部责任。
4、如果有学员家长觉得你的条件与他的要求相符，会在线预约您；在核实了家长的情况后，我们会通知您。
5、如果是女教员，从个人的安全角度出发，在初次上门试讲时，最好带上一名男性同伴，以免发生意外。
6、尚才家教仅负责提供家教信息，不承担家教信息以外的其它责任。
7、请分步骤一次性填写好自己的全部资料，否则尚才家教工作人员将删除信息不全的注册用户！
   一旦成为我们的会员保证不填写隐瞒信息，如有不实，责任完全由会员自行承担责任。
        </textarea>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    
<div id="footbar" class="w950">
        <div class="title">
          <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
              <tbody><tr>
                  <td  height="30" valign="middle">
                      <a href="index.php?m=home&c=index&a=teacher" target="_blank">做家教</a> | <a href="index.php?m=home&c=index&a=order" target="_blank">请家教</a> | <a href="index.php?m=home&c=index&a=Jiaoyuansousuo">教员搜索</a> | <a href="index.php?m=home&c=index&a=Jiaoyuan">教员分类</a> | <a href="index.php?m=home&c=index&a=XuexiFangfa1">学习方法</a> | <a href="index.php?m=home&c=index&a=KaoshiJingyan1">考试经验</a> | <a href="index.php?m=home&c=index&a=JiaZhangketang1">家长课堂</a> | <a href="index.php?m=home&c=index&a=JiajiaoXiangguan1">家教相关</a> | <a href="index.php?m=home&c=index&a=JiaZhangjingyan1">家教经验</a> | <a href=index.php?m=home&c=index&a=GuanYuwomen1>关于我们</a> | <a href="index.php?m=home&c=index&a=Changjianwenti1">常见问题</a> | <a href="index.php?m=home&c=index&a=HuiKuaifangshi1">汇款方式</a> | <a href="index.php?m=home&c=index&a=Lianxiwomen1" target="_blank">联系我们</a> | <a href="index.php?m=home&c=index&a=Zhaopin1"><img src="./public/home/images/zhaopin.gif" align="absmiddle" border="0"></a>
                  </td>
              </tr>
            </tbody></table>
        </div>
        <div class="body">
            联系电话：010-62642730　62643630　客服邮箱：caijjkf@163.com　<br>
            版权所有：北京尚才家教 【<a href="#" target="_blank">北京家教</a>】　工信部备案号:<a href="#" target="_blank">京ICP备09031430号</a><br>
            家教服务中心：北京市海淀区清华大学南门华清嘉园8号楼304室<br>
            Powered by www.caijj.com copyright 2009-2011<a href="#" target="_blank" title="站长统计"><img src="./public/home/images/pic1.gif" border="0" hspace="0" vspace="0"></a><img src="./public/home/images/stat.gif" border="0" height="0" width="0">
        </div>
</div>
    </form>


</body></html>